In [7]:
import pandas as pd

data = pd.read_csv("/Users/prayagregmi/Downloads/hotel_bookings.csv")

data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01/07/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2.0,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,01/07/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1.0,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,02/07/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1.0,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,02/07/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2.0,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,03/07/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2.0,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,06/09/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3.0,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,07/09/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2.0,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,07/09/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2.0,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,07/09/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2.0,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,07/09/2017

In [53]:
data.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

## Handling the missing values of adults.

In [12]:
adults_median = data['adults'].median()

adults_fill = data['adults'].fillna(adults_median,inplace=True)

## Handling the missing values of children.

In [13]:
children_mean = data['children'].median()
children_mean

children_fill = data['children'].fillna(children_mean,inplace=True)

## Handling the missing country values

In [14]:
country_mode = data['country'].mode()[0]
country_mode

country_fill = data['country'].fillna(country_mode,inplace=True)

## Handling the market segment missing values

In [15]:
market_mode = data['market_segment'].mode()[0]
market_mode

market_fill = data['market_segment'].fillna(market_mode,inplace=True)

## Handling the distribution channel missing values

In [16]:
distributionChannel_mode = data['distribution_channel'].mode()[0]
distributionChannel_mode

distributionChannel_fill = data['distribution_channel'].fillna(distributionChannel_mode,inplace=True)

## Handling the reserved room type as well as assigned room type datas and dropping them

In [75]:
data['reserved_room_type'].dropna()

0         C
1         C
2         A
3         A
4         A
         ..
119385    A
119386    E
119387    D
119388    A
119389    A
Name: reserved_room_type, Length: 119389, dtype: object

In [52]:
data.dropna(subset=["assigned_room_type"],inplace=True)

In [17]:
data.dropna(subset=["reserved_room_type"],inplace=True)

In [50]:
data.dropna(subset=["reservation_status"],inplace=True)

## Handling the deposit_type missing values

In [19]:
deposit_value = data['deposit_type'].mode()[0]
deposit_value

data['deposit_type'].fillna(deposit_value,inplace=True)

In [20]:
data['deposit_type'].value_counts()

deposit_type
No Deposit    104650
Non Refund     14576
Refundable       162
Name: count, dtype: int64

## Handling the agent missing values

In [21]:
data['agent'].value_counts()

agent_median = data['agent'].median()
agent_median
data['agent'].fillna(agent_median,inplace=True)

In [22]:
data['customer_type'].value_counts()

agent_median = data['customer_type'].mode()[0]
agent_median
data['customer_type'].fillna(agent_median,inplace=True)

In [23]:
data['company'].value_counts()

agent_median = data['company'].median()
agent_median
data['company'].fillna(agent_median,inplace=True)

In [ ]:
Calculate summary statistics (mean, median, mode, standard deviation, etc.) for  numerical columns like lead_time, stays_in_weekend_nights, 
stays_in_week_nights, adults, children, babies, previous_cancellations,  previous_bookings_not_canceled, days_in_waiting_list, adr,  
required_car_parking_spaces, and total_of_special_requests.

# 2.Descriptive Statistics

In [24]:
# Calculation of mean,median,mode,sd of the following columns.
# a. Leat_time
leat_time_mean = data['lead_time'].mean()
print(f"The mean value of lead_time is: ",leat_time_mean)

leat_time_median = data['lead_time'].median()
print("The median value is: ",leat_time_median)

leat_time_mode = data['lead_time'].mode()[0]
print("The mode value is: ",leat_time_mode)

# b. Stays_in_weeking_nights
print("\n")
leat_time_mean = data['stays_in_weekend_nights'].mean()
print(f"The mean value of lead_time is: ",leat_time_mean)

leat_time_median = data['stays_in_weekend_nights'].median()
print("The median value is: ",leat_time_median)

leat_time_mode = data['stays_in_weekend_nights'].mode()[0]
print("The mode value is: ",leat_time_mode)

# c. Stays_in_week_nights
print("\n")
leat_time_mean = data['stays_in_week_nights'].mean()
print(f"The mean value of lead_time is: ",leat_time_mean)

leat_time_median = data['stays_in_week_nights'].median()
print("The median value is: ",leat_time_median)

leat_time_mode = data['stays_in_week_nights'].mode()[0]
print("The mode value is: ",leat_time_mode)

# d. Adults, childrens, babies
print("\n")
adults_mean = data['adults'].median()
adults_mean
# print(f"The mean value of lead_time is: ",leat_time_mean)

# leat_time_median = data['stays_in_week_nights'].median()
# print("The median value is: ",leat_time_median)

# leat_time_mode = data['stays_in_week_nights'].mode()[0]
# print("The mode value is: ",leat_time_mode)

The mean value of lead_time is:  104.01219553053909
The median value is:  69.0
The mode value is:  0


The mean value of lead_time is:  0.9275890374241967
The median value is:  1.0
The mode value is:  0


The mean value of lead_time is:  2.500293161791805
The median value is:  2.0
The mode value is:  2

2.0

In [ ]:
# B
Display value counts and frequencies for categorical columns like hotel, country,  market_segment, distribution_channel, is_repeated_guest,
reserved_room_type,  assigned_room_type, deposit_type, agent, company, customer_type,  reservation_status.

In [179]:
print("The value counts and frequencies of Different categories are: ")
data['hotel'].value_counts()

print("\n")
data['country'].value_counts().head()

The value counts and frequencies of Different categories are:

country
PRT    49074
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

In [4]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
# Creating histogram for is_cancelled and arrival_date_year
is_canceled = data['is_canceled']
# print(is_canceled)

arrival_date_year = data['arrival_date_year']
# print(arrival_date_year)
plt.bar(is_canceled,arrival_date_year)

In [ ]:
print("hii")

In [46]:
print("hello")

hello