In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
df = pd.read_csv("/Users/prayagregmi/Downloads/carPrice3.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,NaN,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,NaN,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

### Checking the number of columns and rows in the dataset

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            202 non-null    int64
 1   symboling         202 non-null    int64
 2   CarName           202 non-null    object
 3   fueltype          202 non-null    object
 4   aspiration        202 non-null    object
 5   doornumber        202 non-null    object
 6   carbody           202 non-null    object
 7   drivewheel        202 non-null    object
 8   enginelocation    202 non-null    object
 9   wheelbase         202 non-null    float64
 10  carlength         202 non-null    float64
 11  carwidth          202 non-null    float64
 12  carheight         202 non-null    float64
 13  curbweight        202 non-null    int64
 14  enginetype        202 non-null    object
 15  cylindernumber    202 non-null    object
 16  enginesize        202 non-null    int64
 17  fuelsystem        202 non-null    object
 18  boreratio         202 non-null    float64
 19  stroke            202 non-null    float64
 20  compressionratio  202 non-null    float64
 21  horsepower        202 non-null    int64
 22  peakrpm           202 non-null    int64
 23  citympg           202 non-null    int64
 24  highwaympg        202 non-null    int64
 25  price             202 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 42.6+ KB

In [81]:
# Dropping the cols which have null values
df.dropna(inplace=True)

#### Dropping the columns which are not important to predict the car price

In [96]:
df.drop(columns=['symboling','aspiration','carbody','enginelocation','enginelocation','wheelbase','carwidth','carlength','carheight'],inplace=True)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 202 entries, 0 to 204
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CarName         202 non-null    object
 1   fueltype        202 non-null    object
 2   doornumber      202 non-null    object
 3   drivewheel      202 non-null    object
 4   enginetype      202 non-null    object
 5   cylindernumber  202 non-null    object
 6   enginesize      202 non-null    int64
 7   horsepower      202 non-null    int64
 8   citympg         202 non-null    int64
 9   highwaympg      202 non-null    int64
 10  price           202 non-null    float64
dtypes: float64(1), int64(4), object(6)
memory usage: 18.9+ KB

#### After dropping multiple columns the data processing part is finished

## Data Analysis

In [120]:
for col in df.columns:
    print("Unique values of "+col)
    print(df[col].unique())
    print("=====\n")

Unique values of CarName
['alfa-romero giulia' 'alfa-romero stelvio' 'alfa-romero Quadrifoglio'
 'audi fox' 'audi 5000' 'audi 4000' 'audi 5000s (diesel)' 'bmw 320i'
 'bmw x1' 'bmw x3' 'bmw z4' 'bmw x4' 'bmw x5' 'chevrolet impala'
 'chevrolet monte carlo' 'chevrolet vega 2300' 'dodge rampage'
 'dodge challenger se' 'dodge d200' 'dodge monaco (sw)'
 'dodge colt hardtop' 'dodge colt (sw)' 'dodge coronet custom'
 'dodge dart custom' 'dodge coronet custom (sw)' 'honda civic'
 'honda civic cvcc' 'honda accord cvcc' 'honda accord lx'
 'honda civic 1500 gl' 'honda accord' 'honda civic 1300' 'honda prelude'
 'honda civic (auto)' 'isuzu MU-X' 'isuzu D-Max' 'isuzu D-Max V-Cross'
 'jaguar xj' 'jaguar xf' 'jaguar xk' 'maxda rx3' 'maxda glc deluxe'
 'mazda rx2 coupe' 'mazda rx-4' 'mazda glc deluxe' 'mazda 626' 'mazda glc'
 'mazda rx-7 gs' 'mazda glc 4' 'mazda glc custom l' 'mazda glc custom'
 'buick electra 225 custom' 'buick century luxus (sw)' 'buick century'
 'buick skyhawk' 'buick opel isuzu deluxe' 'buick skylark'
 'buick century special' 'buick regal sport coupe (turbo)'
 'mercury cougar' 'mitsubishi mirage' 'mitsubishi lancer'
 'mitsubishi outlander' 'mitsubishi g4' 'mitsubishi mirage g4'
 'mitsubishi montero' 'mitsubishi pajero' 'Nissan versa' 'nissan gt-r'
 'nissan rogue' 'nissan latio' 'nissan titan' 'nissan leaf' 'nissan juke'
 'nissan note' 'nissan clipper' 'nissan nv200' 'nissan dayz' 'nissan fuga'
 'nissan otti' 'nissan teana' 'nissan kicks' 'peugeot 504' 'peugeot 304'
 'peugeot 504 (sw)' 'peugeot 604sl' 'peugeot 505s turbo diesel'
 'plymouth fury iii' 'plymouth cricket' 'plymouth satellite custom (sw)'
 'plymouth fury gran sedan' 'plymouth valiant' 'plymouth duster'
 'porsche macan' 'porcshce panamera' 'porsche cayenne' 'porsche boxter'
 'renault 12tl' 'renault 5 gtl' 'saab 99e' 'saab 99le' 'saab 99gle'
 'subaru' 'subaru dl' 'subaru brz' 'subaru baja' 'subaru r1' 'subaru r2'
 'subaru trezia' 'subaru tribeca' 'toyota corona mark ii' 'toyota corona'
 'toyota corolla 1200' 'toyota corona hardtop' 'toyota corolla 1600 (sw)'
 'toyota carina' 'toyota mark ii' 'toyota corolla'
 'toyota corolla liftback' 'toyota celica gt liftback'
 'toyota corolla tercel' 'toyota corona liftback' 'toyota starlet'
 'toyota tercel' 'toyota cressida' 'toyota celica gt' 'toyouta tercel'
 'vokswagen rabbit' 'volkswagen 1131 deluxe sedan' 'volkswagen model 111'
 'volkswagen type 3' 'volkswagen 411 (sw)' 'volkswagen super beetle'
 'volkswagen dasher' 'vw dasher' 'vw rabbit' 'volkswagen rabbit'
 'volkswagen rabbit custom' 'volvo 145e (sw)' 'volvo 144ea' 'volvo 244dl'
 'volvo 245' 'volvo 264gl' 'volvo diesel' 'volvo 246']
=====

Unique values of fueltype
['gas' 'diesel']
=====

Unique values of doornumber
['two' 'four']
=====

Unique values of drivewheel
['rwd' 'fwd' '4wd']
=====

Unique values of enginetype
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
=====

Unique values of cylindernumber
['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
=====

Unique values of enginesize
[130 152 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119 258
 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203 132
 121 146 171 161 109 141 173 145]
=====

Unique values of horsepower
[111 154 110 140 160 101 121 182  48  70  68 102  88 145  58  76  60  86
 100  78  90 176 262 135  84  64 120  72 123 155 184 175 116  69  55  97
 152 200  95 142 143 207 288  73  82  94  62  56 112  92 161 156  52  85
 114 162 134 106]
=====

Unique values of citympg
[21 19 17 16 23 20 15 47 38 37 31 24 49 30 27 25 13 26 36 22 14 45 28 18
 32 35 34 29 33]
=====

Unique values of highwaympg
[27 26 25 20 22 29 28 53 43 41 38 30 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
=====

Unique values of price
[13495.    16500.    15250.    18920.    23875.    17859.167 16430.
 16925.    20970.    21105.    24565.    30760.    41315.    36880.
  5151.     6295.     6575.     5572.     6377.     7957.     6229.
  6692.     7609.     8558.     8921.    12964.     6479.     6855.
  5399.     6529.     7129.     7295.     7895.     9095.     8845.
 10295.    12945.    10345.     6785.     8916.5   11048.    32250.
 35550.    36000.     5195.     6095.     6795.     6695.     7395.
 10945.    11845.    13645.    15645.     8495.    10595.    10245.
 10795.    11245.    18280.    18344.    25552.    28248.    28176.
 31600.    34184.    35056.    40960.    45400.    16503.     5389.
  6189.     6669.     7689.     9959.     8499.    12629.    14869.
 14489.     6989.     8189.     9279.     5499.     7099.     6649.
  6849.     7349.     7299.     7799.     7499.     7999.     8249.
  8949.     9549.    13499.    14399.    17199.    19699.    18399.
 11900.    13200.    12440.    13860.    15580.    16900.    16695.
 17075.    16630.    17950.    18150.    12764.    22018.    32528.
 34028.    37028.    31400.5    9295.     9895.    11850.    12170.
 15040.    15510.    18620.     5118.     7053.     7603.     7126.
  7775.     9960.     9233.    11259.     7463.    10198.     8013.
 11694.     5348.     6338.     6488.     6918.     7898.     8778.
  6938.     7198.     7788.     7738.     8358.     9258.     8058.
  8238.     9298.     9538.     8449.     9639.     9989.    11199.
 11549.    17669.     8948.    10698.     9988.    10898.    11248.
 16558.    15998.    15690.    15750.     7975.     7995.     8195.
  9495.     9995.    11595.     9980.    13295.    13845.    12290.
 12940.    13415.    15985.    16515.    18420.    18950.    16845.
 19045.    21485.    22470.    22625.   ]
=====

#### Extracting the car company names

In [135]:
# Since therer are many values of the car we will just extract the carname only
def get_brand_name(carname):
    carname = carname.split(' ')[0]
    return carname

In [140]:
get_brand_name("maruti fox")

'maruti'

In [141]:
df['CarName'] = df['CarName'].apply(get_brand_name)

In [145]:
df['CarName'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [169]:
for col in df.columns:
    print("The unique values are: "+col)
    print(df[col].unique())
    print("========\n")

The unique values are: CarName
[ 1  2  3  5  6  7  8  9 10 11  4 12 13  0 14 15 16 18 17 19 20 21 22 23
 24 25 27 26]
========

The unique values are: fueltype
[1 0]
========

The unique values are: doornumber
[1 0]
========

The unique values are: drivewheel
[2 1 0]
========

The unique values are: enginetype
[0 5 3 2 6 4 1]
========

The unique values are: cylindernumber
[2 3 1 4 5 6 0]
========

The unique values are: enginesize
[130 152 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119 258
 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203 132
 121 146 171 161 109 141 173 145]
========

The unique values are: horsepower
[111 154 110 140 160 101 121 182  48  70  68 102  88 145  58  76  60  86
 100  78  90 176 262 135  84  64 120  72 123 155 184 175 116  69  55  97
 152 200  95 142 143 207 288  73  82  94  62  56 112  92 161 156  52  85
 114 162 134 106]
========

The unique values are: citympg
[21 19 17 16 23 20 15 47 38 37 31 24 49 30 27 25 13 26 36 22 14 45 28 18
 32 35 34 29 33]
========

The unique values are: highwaympg
[27 26 25 20 22 29 28 53 43 41 38 30 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
========

The unique values are: price
[13495.    16500.    15250.    18920.    23875.    17859.167 16430.
 16925.    20970.    21105.    24565.    30760.    41315.    36880.
  5151.     6295.     6575.     5572.     6377.     7957.     6229.
  6692.     7609.     8558.     8921.    12964.     6479.     6855.
  5399.     6529.     7129.     7295.     7895.     9095.     8845.
 10295.    12945.    10345.     6785.     8916.5   11048.    32250.
 35550.    36000.     5195.     6095.     6795.     6695.     7395.
 10945.    11845.    13645.    15645.     8495.    10595.    10245.
 10795.    11245.    18280.    18344.    25552.    28248.    28176.
 31600.    34184.    35056.    40960.    45400.    16503.     5389.
  6189.     6669.     7689.     9959.     8499.    12629.    14869.
 14489.     6989.     8189.     9279.     5499.     7099.     6649.
  6849.     7349.     7299.     7799.     7499.     7999.     8249.
  8949.     9549.    13499.    14399.    17199.    19699.    18399.
 11900.    13200.    12440.    13860.    15580.    16900.    16695.
 17075.    16630.    17950.    18150.    12764.    22018.    32528.
 34028.    37028.    31400.5    9295.     9895.    11850.    12170.
 15040.    15510.    18620.     5118.     7053.     7603.     7126.
  7775.     9960.     9233.    11259.     7463.    10198.     8013.
 11694.     5348.     6338.     6488.     6918.     7898.     8778.
  6938.     7198.     7788.     7738.     8358.     9258.     8058.
  8238.     9298.     9538.     8449.     9639.     9989.    11199.
 11549.    17669.     8948.    10698.     9988.    10898.    11248.
 16558.    15998.    15690.    15750.     7975.     7995.     8195.
  9495.     9995.    11595.     9980.    13295.    13845.    12290.
 12940.    13415.    15985.    16515.    18420.    18950.    16845.
 19045.    21485.    22470.    22625.   ]
========

In [149]:
df['CarName'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

### Since the some of the datasets are in categorical values we have to encode them into numerical values

In [150]:
le = LabelEncoder()

In [155]:
df['CarName'] = le.fit_transform(df['CarName'])

array([ 1,  2,  3,  5,  6,  7,  8,  9, 10, 11,  4, 12, 13,  0, 14, 15, 16,
       18, 17, 19, 20, 21, 22, 23, 24, 25, 27, 26])

In [167]:
df['cylindernumber'] = le.fit_transform(df['cylindernumber'])

### Checking if all the columns values have the numerical values or not

In [172]:
df.head()

,CarName,fueltype,doornumber,drivewheel,enginetype,cylindernumber,enginesize,horsepower,citympg,highwaympg,price
0,1,1,1,2,0,2,130,111,21,27,13495.0
1,1,1,1,2,0,2,130,111,21,27,16500.0
2,1,1,1,2,5,3,152,154,19,26,16500.0
5,2,1,1,1,3,1,136,110,19,25,15250.0
7,2,1,0,1,3,1,136,110,19,25,18920.0

In [179]:
X = df.drop(columns=['price'])
y = df[['price']]

# In the value of y i have used 2 big brackets inorder to create a 2d array

In [181]:
# from sklearn.model_creation import train_test_split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [190]:
from sklearn.linear_model import LinearRegression

In [193]:
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [195]:
lr.coef_

array([[ -111.31718646, -2668.01609027,  -961.29964982,  2054.0673478 ,
          360.7679451 ,  -829.1725733 ,    78.1086494 ,    63.54661124,
         -272.35343787,   121.47985435]])

In [197]:
lr.intercept_

array([2129.30952165])

In [198]:
y_pred = lr.predict(X_test)

In [202]:
y_pred

array([[ 6432.63241215],
       [-1144.99355237],
       [ 7174.04962386],
       [ 7097.67058151],
       [ 8191.92684736],
       [ 4451.48967232],
       [29922.83053184],
       [10399.69734366],
       [ 7918.08484161],
       [29639.10651792],
       [24239.34383253],
       [ 5668.0250446 ],
       [15466.291902  ],
       [10730.77280277],
       [18590.36376282],
       [16198.44512239],
       [10426.86729286],
       [ 6917.40326881],
       [11692.07245259],
       [30884.13018166],
       [26274.18760717],
       [ 5773.67821669],
       [ 7747.19113445],
       [ 7393.93206198],
       [25200.64348235],
       [11276.51497294],
       [12835.82094147],
       [25200.64348235],
       [33894.09440981],
       [10177.7080439 ],
       [19049.93522185],
       [ 5564.66153693],
       [11837.07777053],
       [ 6211.3395947 ],
       [15466.291902  ],
       [14240.72147716],
       [ 7760.44970371],
       [ 8388.42735354],
       [15466.291902  ],
       [ 9775.21150358],
       [17670.9055156 ]])

In [204]:
y_test = y_test.values

In [206]:
from sklearn.metrics import mean_squared_error,r2_score

In [207]:
mse = mean_squared_error(y_pred,y_test)
mse

14064453.108871818

In [219]:
r2_score = r2_score(y_pred,y_test)

TypeError: 'numpy.float64' object is not callable

In [220]:
r2_score

0.797900351076918

In [ ]:
sns.regplot(x=y_pred,y=y_test)